/%h2 MENÚ
%img{:src => "/img/logo-small.jpg"}
%ul.menu
  %li= link_to "Qui som?", "/#amics-del-ball"
  %li= link_to "Com arribar?", "/#com-arribar"
  %li= link_to "Contacte", "/#contacte"

.fb-like{"data-font" => "tahoma", "data-href" => "https://www.facebook.com/pages/Amics-del-Ball-de-Riumors/247129381995099", "data-send" => "false", "data-show-faces" => "true", "data-width" => "100"}
