#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require "bourbon" # maybe not need

compile '/css/*' do
  filter :sass, :syntax => :scss
  filter :relativize_paths, :type => :css
end

compile '/img/*' do
  # do nothing here
end

compile '/js/*' do
  # do nothing here
end

compile '/blog/*/' do
  if item[:extension] == "haml"
    filter :haml
  else
    filter :kramdown
  end
  layout 'post'
  layout 'default'
end

compile '*' do
  if item[:extension] == "haml"
    filter :haml
    layout 'default'
  end
end

route '/img/*' do
  item.identifier.chop + '.' + item[:extension]
end

route '/css/_*' do
  # don't output partials, so return nil
end

route '/css/*' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.css'
end

route '/js/*' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5
