.icon-email {
  background-image: url(../images/icons/social.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}
.icon-github {
  background-image: url(../images/icons/social.png);
  background-position: 0px -20px;
  width: 20px;
  height: 20px;
}
.icon-home {
  background-image: url(../images/icons/social.png);
  background-position: 0px -40px;
  width: 20px;
  height: 20px;
}
.icon-linkedin {
  background-image: url(../images/icons/social.png);
  background-position: 0px -60px;
  width: 20px;
  height: 20px;
}
.icon-twitter {
  background-image: url(../images/icons/social.png);
  background-position: 0px -80px;
  width: 20px;
  height: 20px;
}
