include layouts/default
  section#about
    h1 About
    :markdown
      I'm Màxim Colls, a *Software Developer* located in Barcelona.

      I hold a BSc in *Computer Science* and a MSc in *Meteorology*.
      Check out my [LinkedIn profile](http://www.linkedin.com/in/mcolls)
      to know more about the academic background and past jobs.

  section#work
    h1 Work
    :markdown
      I currently work at [Redbooth](http://redbooth.com), an awesome
      *Collaboration Software* company.

      I'm a *Full Stack Developer* that also enjoys Devops and Product design. Some of my code can be found on [GitHub](http://github.com/mllocs).

  section#projects
    h1 Side Projects

    h2 Meteotuit
    :markdown
      I started this project on July 2012.
      Meteotuit is a meteorological alert service via Twitter.
      Basically it tweets you when there is any precipitation alert.
      The application is fed by the
      [Open Data Services of the Catalan Government](http://www20.gencat.cat/portal/site/dadesobertes/?newLang=en_GB)

    a(href='http://meteotuit.cat')
      img(src='images/meteotuit.png')

    ul.links
      li.home
        i.icon-home
        a(href='http://meteotuit.cat') http://meteotuit.cat
      li.twitter
        i.icon-twitter
        a(href='http://twitter.com/meteotuit') @meteotuit

  section#playground
    h1 Playground

    h2 ComboJam
    :markdown
      Cool experiment using the Web Audio API.
      Implements a Jazz Trio (bass, piano and drums).

    ul.links
      li.home
        i.icon-home
        a(href='http://combojam.herokuapp.com/') Sample site

    h2 Game of Life on Meteor
    :markdown
      This was my first [meteor](http://meteor.com) application.
      I'm a big fan of [Conway's Game of Life](http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life)
      and when it's time to learn a new language / framework, this is
      sometimes my first implementation.

    ul.links
      li
        i.icon-home
        a(href='http://game-of-life.meteor.com') http://game-of-life.meteor.com
      li
        i.icon-github
        a(href='https://github.com/mllocs/meteor-game-of-life') mllocs/meteor-game-of-life

  section#open-source
    h1 Open Source

    h2 Zoom.us Gem
    :markdown
      Ruby wrapper gem for [zoom.us](http://zoom.us) API v1.

    ul.links
      li.github
        i.icon-github
        a(href='https://github.com/mllocs/zoomus') mllocs/zoomus

    h2 Guard-Lilypond Gem
    :markdown
      Lilypond guard allows you to automatically compile your
      new/updated lilypond files.

    img(src='images/all-of-me.gif')

    ul.links
      li.github
        i.icon-github
        a(href='https://github.com/mllocs/guard-lilypond') mllocs/guard-lilypond

    h2 Cronut / Crumble Factory
    :markdown
      This is a simple javascript library to draw cronuts/crumbles in the web.
      Depends on [Raphael](https://github.com/DmitryBaranovskiy/raphael/) which uses the SVG W3C Recommendation and VML
      as a base for creating graphics.

    ul.links
      li.github
        i.icon-github
        a(href='https://github.com/mllocs/cronut-factory') mllocs/cronut-factory
      li.github
        i.icon-github
        a(href='https://github.com/mllocs/crumble-factory') mllocs/crumble-factory

  section#contact
    h1 Contact

    ul.links
      li.twitter
        i.icon-twitter
        a(href='http://twitter.com/mllocs') Twitter
      li.github
        i.icon-github
        a(href='http://github.com/mllocs') GitHub
      li.linkedin
        i.icon-linkedin
        a(href='http://www.linkedin.com/in/mcolls') LinkedIn
      li.blog
        i.icon-blog
        a(href='http://mllocs.tumblr.com') Blog
      li.email
        i.icon-email
        a() collsmaxim / gmail


