include layouts/default
  .db
    .title
      | Arròs Tramuntana

  .db
    .text
      p
        = "Arròs de qualitat extra conreat al "
        em= "Parc Natural dels Aiguamolls de l'Empordà."
      p= "Un clima de temperatures altes i tramuntana persistent ofereix les condicions perfectes pel conreu d'aquest cereal."

  .bird

  .bottom-bar
    | Arròs Tramuntana © 2015 - 2016 - Riumors, Alt Empordà
