doctype html
html
  head
    title Arròs Tramuntana
    meta(charset='utf-8')
    link(href='/images/logo-small.png' rel='shortcut icon')
    link(media='screen' rel='stylesheet' href='stylesheets/application.css')
body
  .content
    yield
